// / 1. Colors
$color-main: #bf3641;
$color-accent: #e69522;
// $color-accent: #cc841e;
$color-fade: #f29f80;
$color-background: #fad9cc;
$color-grey: #e5e4e2;
$color-text: #732027;
$color-black: #000000;
$color-white: #faf2eb;
$color-testing: orangered;

// 2. Font size
$text-header-main: 6.4rem;
$text-header-sub: 4.8rem;
$text-big: 3.6rem;
$text-emphasize: 2.4rem;
$text-standard: 2rem;
$text-small: 1.6rem;
$text-mini: 1.2rem;
$text-supersmall: 0.8rem;

// 3. Whitespace
$space-big: 12.8rem;
$space-widegap: 8.4rem;
$space-decent: 7.2rem;
$space-margin: 5.6rem;
$space-standard: 4.8rem;
$space-gap: 3.6rem;
$space-sub: 2.8rem;
$space-small: 1.8rem;
$space-mini: 1.2rem;
$space-supersmall: 0.6rem;

// 4. Configurative Values
$max-width: 52.5rem;
